<div class="primary_header" [ngClass]="{'primary_header_shadow': user}">
  <div class="primary_logo" >
      
    <div>
      <img src="./../../../../assets/logos/portsamerica_logo.png">
      <i class="fa fa-home fa-2x" aria-hidden="true"></i><span class="linkText">Home</span>
      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
    <!-- <li><br /><span class="linkText">Home</span></li>
    <li><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i><br /><span class="linkText">Alert</span></li>
    <li><a href="#"><i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i><br /><span class="linkText">Help</span></a></li> -->
