
  <div class="container pad-0">

      <div class="col-xs-2 col-sm-1 col-md-1"></div>
      <div class="col-xs-8 col-sm-9 col-md-9 sign-in">
          <img src="~/images/portsamerica_logo.png" alt="logo">
          <div class="row">
              <div class="col-xs-7 col-sm-7 col-md-7 sign-in-left pad-0">
                  <h2>Welcome to PALS</br>"Ports America Labor System"</h2>
                  <svg viewbox="0 0 100 25">
                      <path fill="#d31145" d="M0 30 V20 Q20 3 60 15 T100 11 V30z" />
                      <!--   <path fill="#9EAFFD" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" /> -->
                  </svg>
                  <div class="sign-in-left-bottom">
                      <h3>This portal will help you to:</h3>
                      <div class="round-checkbox">
                          <input type="checkbox" name="data" checked />
                          <label></label> <span>Save time adding or editing timesheet</span>
                      </div>
                      <div class="round-checkbox">
                          <input type="checkbox" checked />
                          <label></label> <span>Track records and past entries</span>
                      </div>
                      <div class="round-checkbox">
                          <input type="checkbox" checked />
                          <label></label> <span>Enhanced accuracy and easy to use</span>
                      </div>
                      <footer>&#169; Ports America. All rights reserved.</footer>
                  </div>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 sign-in-right pad-0">
                  <form method="post" asp-controller="Login" asp-action="Index" data-toggle="validator" class="form_data">
                      <h1>Sign In</h1>
                      <div class="form-group">
                          <label for="inputName" asp-for="Username" class="control-label">Username</label>
                          <input type="text" asp-for="Username" class="form-control" id="inputName" placeholder="username">
                          <span style="color: red;" asp-validation-for="Username"></span>
                      </div>
                      <div class="form-group">
                          <label for="inputPassword" asp-for="Password" class="control-label">Password</label>
                          <input type="password" asp-for="Password" data-minlength="6" class="form-control" id="inputPassword" placeholder="*******">
                          <span style="color: red;" asp-validation-for="Password"></span>
                      </div>
                      <div class="form-group" style="color: red;">
                         @Html.DisplayTextFor(model => model.message)
                      </div>
                      @*<div class="form-group">
                              <label class="control-label">Location</label>
                              <div id="Location"><input type="text" class="form-control" id="inputLocation" placeholder="Location"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></div>
                          </div>*@
                      <div class="Remember-text"><input type="checkbox"><span>Remember me</span></div>
                      <div class="form-group">
                          <button type="submit" class="button">Sign in <i class="fa fa-arrow-right arrow-right" aria-hidden="true"></i></button>
                      </div>
                      <div class="Reset"><a href="#">Reset password?</a></div>
                  </form>
                  <img src="~/images/curveBtm.png">
              </div>
          </div>
      </div>
      <div class="col-xs-2 col-sm-1 col-md-1"></div>
  </div>